html, body {
  height: 100%;
  width: 100%;
}

.border1 {
  border: 5px dotted lightblue;
}

.border2 {
  border: 10px solid ;
  margin-right: 60%;
  margin-left: 10%;
  padding: 50px 50px 50px 50px;
}

.border3 {
  border: 10px solid black;
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
  padding: 60px 50px 60px 50px;
}

.border4 {
  border: 10px dotted black;
}