html, body {
  height: 100%;
  width: 100%;
}

.border1 {
  border: 5px dotted lightblue;
}

.border2 {
  border: 10px solid ;
  margin-right: 60%;
  margin-left: 10%;
  padding: 50px 50px 50px 50px;
}

.border3 {
  border: 10px solid black;
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
  padding: 60px 50px 60px 50px;
}

.border4 {
  border: 10px dotted black;
}

a.one:link {
  background-color: blue;
  color: white;
  font-family: Cambria, serif;
}
a.one:visited {
  background-color: blue;
  color: white;
  font-family: Cambria, serif;
}
a.one:hover {
  font-family: fantasy;
  cursor: pointer;
}

a.two:link {
border: 2px solid red;
background-color: white;
}
a.two:visited {
border: 2px solid red;
background-color: white;
}
a.two:hover {
background-color: blue;
color: white;
font-size: 150%;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.li {
  float: left;
}
.lia {
  display: inline-block;
  position: relative;
  color: white;
  background-color: #333;
  padding: 14px 16px;
  text-decoration: none;
}

.lia:hover {
  background-color: #111;
  cursor: pointer;
}
.active {
  background-color: green;
}


.dropdown {
  display: inline-block;
  position: absolute;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}